footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #111111;
  color: #dddddd;
}

footer table {
  width: 100%;
}

footer td {
  width: 50%;
}

footer td:first-child {
  text-align: left;
}

footer td:last-child {
  text-align: right;
}

footer table img {
  padding-left: 15px;
}

footer a {
  color: #dddddd;
}

footer a:hover {
  color: #46bcff;
  text-decoration: none;
}